@font-face {
    font-family: 'TW_Cen_MT';
    src: url('Tw_Cen_MT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kalam';
    src: url('Kalam-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* kalam bold */
@font-face {
    font-family: 'Kalam';
    src: url('Kalam-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

