/* Import header styles */
@import url('header.css');

/* Reset default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Add any other global styles or styles for other components here */
/* Hero Section Styles */
.hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero-video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#hero-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
    height: 100%;
    padding: 5vh 5vw;
    box-sizing: border-box;
}

.hero-title {
    color: #730E3E;
    font-size: clamp(1rem, 3vw + 1rem, 3rem);
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 30vh;
    max-width: 100%;
    margin-top: 5vh;
}

.hero-slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: clamp(1.5rem, 5vw + 1rem, 4rem);
    font-weight: bold;
    margin-bottom: 8vh;
    margin-left: 2vw;
    margin-top: 12vh;
}

.hero-slogan span {
    display: block;
    color: #EC2083;
    line-height: 1.2;
}

.cta-button {
    display: inline-block;
    padding: clamp(0.5em, 0.2vw + 0.3em, 0.5em) clamp(1em, 1.5vw + 0.5em, 1.5em);
    background-color: #ffffff;
    color: #730E3E;
    text-decoration: none;
    border-radius: 10px;
    border: 3px solid #730E3E;
    /* Increased border thickness */
    font-size: clamp(1rem, 1.2vw + 0.3rem, 1.3rem);
    font-weight: bold;
    letter-spacing: 1px;
    position: relative;
    transition: all 0.3s ease;
    margin-left: 1vw;

}

.cta-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #730E3E;
    z-index: -1;
    border-radius: 10px;
    transform: translateY(7px) translateX(7px);
    /* Increased offset */
}

.cta-button::after {
    content: '';
    position: absolute;
    top: -8px;
    /* Increased distance */
    left: -8px;
    /* Increased distance */
    right: -8px;
    /* Increased distance */
    bottom: -8px;
    /* Increased distance */
    background-color: rgba(115, 14, 62, 0.3);
    z-index: -2;
    border-radius: 25px;
    filter: blur(20px);
    /* Slightly increased blur */
    opacity: 0.7;
}



@media (max-width: 1400px) and (max-height: 700px) {
    .hero-content {
        justify-content: flex-start;
        padding-top: 10vh;
    }

    .hero-title {
        font-size: clamp(1.5rem, 2vw + 0.7rem, 2.5rem);
        margin-bottom: 20vh;
    }

    .hero-slogan {
        font-size: clamp(1.8rem, 3vw + 0.5rem, 2.8rem);
        margin-bottom: 10vh;
    }

    .cta-button {
        font-size: clamp(0.9rem, 1vw + 0.3rem, 1.1rem);
        padding: 0.4em 1.2em;
        border-width: 2px;
        /* Slightly reduced border for smaller screens */
    }

    .cta-button::before {
        transform: translateY(7px) translateX(7px);
        /* Adjusted for smaller screens */
    }

    .cta-button::after {
        top: -6px;
        left: -6px;
        right: -6px;
        bottom: -6px;
        filter: blur(15px);
    }

}

@media (max-width: 1200px) {
    .hero-content {
        padding: 5vh 5vw;
    }

    .hero-title {
        font-size: clamp(1.5rem, 3vw + 1rem, 2.5rem);
        margin-bottom: 25vh;
    }

    .hero-slogan {
        font-size: clamp(1.5rem, 5vw + 1rem, 2.5rem);
        margin-bottom: 10vh;
    }

    .cta-button {
        font-size: clamp(1rem, 1.2vw + 0.3rem, 1.3rem);
        padding: clamp(0.5em, 0.2vw + 0.3em, 0.5em) clamp(1em, 1.5vw + 0.5em, 1.5em);
    }

    .cta-button::before {
        transform: translateY(7px) translateX(7px);
    }

    .cta-button::after {
        top: -6px;
        left: -6px;
        right: -6px;
        bottom: -6px;
        filter: blur(15px);
    }
}



@media (max-width: 768px) {
    .hero-content {
        justify-content: center;
    }

    .hero-title {
        margin-bottom: 20vh;
    }
}

@media (max-width: 500px) {
    .hero-title {
        font-size: clamp(1.5rem, 4vw + 1rem, 3rem);
    }

    .hero-slogan {
        font-size: clamp(1.5rem, 6vw + 1rem, 4rem);
        margin-top: 30vh;
        margin-bottom: 10vh;
    }

    .cta-button {
        font-size: clamp(1rem, 2vw + 0.5rem, 1.5rem);
        padding: clamp(0.3em, 1vw + 0.5em, 0.5em) clamp(0.8em, 2vw + 1em, 1em);

    }
}

/* Hero Section Ended 
-----------------------
-----------------------
----------------------
-------------------------
--------------------------

-- Intro Section Styles */
.intro-section {
    background-color: #FFF4E3;
    /* Light pink background */
    padding: 60px 0;
    text-align: center;
}

.intro-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;

    .intro-text {
        font-size: 32px;
        font-weight: bold;
        line-height: 1.6;
        color: #730E3E;
        /* Dark red color */
        margin-bottom: 30px;
    }

    .intro-button {
        background-color: #FFFFFF;
        color: #EC2083;
        font-family: 'Tw_cen_mt', sans-serif;
        font-size: clamp(18px, 1.5vw + 12px, 24px);
        font-weight: bold;
        padding: clamp(8px, 1vw + 5px, 5px) clamp(20px, 2vw + 15px, 30px);
        border-radius: 10px;
        display: inline-block;
        position: relative;
        border: 3px solid #EC2083;
        /* Increased border thickness */
        transition: all 0.3s ease;
        text-decoration: none;
       
    }

    .intro-button::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #EC2083;
        z-index: -1;
        border-radius: 10px;
        transform: translateY(7px) translateX(7px);
        /* Increased offset */
    }

}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .intro-section {
        padding: 40px 0;
    }

    .intro-text {
        font-size: 18px;
    }

    .cta-button.secondary {
        font-size: 16px;
        padding: 8px 20px;
    }
}


/* Purpose Section Styles */
.purpose-section {
    padding: 10px 0;
    display: flex;

    align-items: center;
    min-height: 60vh;
    background-color: #FFF4E3;
}

.purpose-container {
    width: 45%;
    /* Adjusted width to allow space for both containers */
    max-width: 500px;
    padding: 0 15px;
    margin-left: 15vw;
}

.purpose-content {
    background-color: #FBDEEB;
    border-radius: 10px;
    padding: 30px;
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.3), 5px 5px 15px rgba(0, 0, 0, 0.1);
    transform: rotate(-3deg);
    position: relative;
    overflow: visible;
}

.purpose-text {
    font-size: 29px;
    font-family: "Kalam", sans-serif;
    font-weight: bold;
    text-align: center;
    color: #EC2083;
}

.purpose-p {
    color: #EC2083;
    font-size: 29px;
    line-height: 1.6;
    margin-bottom: 20px;
}


.purpose-content::after {
    content: '';
    position: absolute;
    bottom: -40px;
    right: 40px;
    width: 90px;
    height: 90px;
    background-image: url('../images/Asset\ 5@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    transform: rotate(15deg);
}


.purpose-button {
    background-color: #FFFFFF;
    color: #EC2083;
    font-family: 'Tw_cen_mt', sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding: 5px 30px;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    border: 2px solid #EC2083;
    transition: all 0.3s ease;
}

.purpose-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #EC2083;
    z-index: -1;
    border-radius: 10px;
    transform: translateY(6px) translateX(7px);
}


.compass-container {
    position: relative;
    max-width: 45%;
    margin-left: 7vw;
    /* Adjusted width to allow space for both containers */
}

.compass-bg {
    height: 600px;
    margin-top: -300px;
    margin-left: 25%;
    background-size: contain;
    background-repeat: no-repeat;
}

.compass-hand {
    height: 400px;
   margin-left: 15vw;
    margin-top: -19vh;
    background-size: contain;
    background-repeat: no-repeat;
}

.compass-center {
    height: 80px;
    margin-left: 14.25vw;
    margin-top: -1vh;
    background-size: contain;
    background-repeat: no-repeat;
}

.compass-bg,
.compass-hand,
.compass-center {
    position: absolute;
    top: 0;
    left: 0;
}

.compass-hand {
    animation: rotate 20s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 1700px){
    .purpose-container {
        margin-left: 15vw;
    }

    .compass-center{
        margin-left: 16.5vw;
        margin-top: -2vh;
    }

    .compass-hand{
        margin-left: 17vw;
        margin-top: -20vh;
    }

    .compass-container {
        margin-left: 5vw;
    }
}

@media (max-width: 1440px) {
    .purpose-container {
        margin-left: 10vw;
    }

    .compass-center{
        margin-left: 19.5vw;
        margin-top: -2vh;
    }

    .compass-hand{
        margin-left: 20vw;
        margin-top: -22vh;
    }

    .compass-container {
        margin-left: 5vw;
    }
}

@media (max-width: 768px) {
    .purpose-section {
        flex-direction: column;
    }

    .purpose-container,
    .compass-container {
        width: 100%;
        margin-bottom: 30px;
    }
}

/* What We're Up To Section Styles */
.what-were-up-to {
    background-color: #FFF4E3;
    padding: 60px 0;
    text-align: center;

}

.wwut-section-title {
    font-size: 35px;
    font-weight: bold;
    color: #318EE7;
    margin-bottom: 40px;
}

.wwut-button-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.wwut-image-button {
    width: 300px;
    height: 300px;
    position: relative;
    display: inline-block;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 2px solid #318EE7;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
}

.wwut-image-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #318EE7;
    z-index: -1;
    border-radius: 10px;
    transform: translateY(7px) translateX(15px);
}

.wwut-image-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}

.wwut-image-button span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    font-family: 'Tw_cen_mt', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #318EE7;
    transition: all 0.3s ease;
}

/* .wwut-image-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(236, 32, 131, 0.3);
} */

.wwut-image-button:hover img {
    transform: scale(1.1);
}

.wwut-image-button:hover span {
    background-color: #318EE7;
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .wwut-button-container {
        flex-direction: column;
        align-items: center;
    }

    .wwut-image-button {
        width: 80%;
        max-width: 300px;
        height: 200px;
        margin-bottom: 30px;
    }
}

/* ... (previous styles remain unchanged) ... */

/* Let's Connect Section Styles */
.lets-connect {
    background-color: #FFF4E3;
    padding: 60px 0;
    position: relative;
    overflow: hidden;
}

.connect-container {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.connect-background {
    width: 100%;
    height: auto;
}

.connect-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.connect-title {
    font-size: 35px;
    font-weight: bold;
    color: #EC2083;
    margin-bottom: 20px;
    text-align: center;
}

.connect-text {
    font-size: 21px;
    line-height: 1.6;
    color: #EC2083;
    margin-bottom: 30px;
    text-align: center;
}

.connect-button {
    display: inline-block;
    padding: 12px 30px;
    background-color: #FFFFFF;
    color: #318EE7;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid #318EE7;
    transition: all 0.3s ease;
}

.connect-button:hover {
    background-color: #EC2083;
    color: #FFFFFF;
}

.flower-icon {
    position: absolute;
    width: 80px;
    height: 80px;
}

.left-icon {
    margin-top: -25vh;
    left: 17vw;
}

.right-icon {
    margin-top: -25vh;
    right: 17vw;
}

@media (max-width: 768px) {
    .connect-content {
        padding: 20px;
    }

    .connect-title {
        font-size: 28px;
    }

    .connect-text {
        font-size: 16px;
    }

    .flower-icon {
        width: 60px;
        height: 60px;
    }
}



/* Footer Styles */
.site-footer {
    background-color: #D6E8FC;
    padding: 20px 0;
    font-family: 'TW_Cen_MT', sans-serif;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.footer-logo img {
    height: 300px;

}

.footer-content {
    flex-grow: 1;
    text-align: center;
}

.footer-title {
    font-size: 32px;
    font-weight: bold;
    color: #318EE7;
    margin-bottom: 10px;
    margin-left: -5%;
}

.footer-subtitle {
    font-size: 18px;
    color: #318EE7;
    margin-bottom: 20px;
    margin-left: 16%;
}

.footer-form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.footer-form input[type="text"],
.footer-form input[type="email"] {
    padding: 8px 12px;
    border: 1px solid #318EE7;
    border-radius: 5px;
    font-size: 18px;
    width: 200px;
    background-color: #ACCDF6;
    color: #318EE7;

}

.footer-form input[type="text"]::placeholder,
.footer-form input[type="email"]::placeholder {
    color: #318EE7;
}


.footer-form button {
    background-color: #318EE7;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.footer-links {
    font-size: 13px;
    color: #318EE7;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
}

.footer-links p {
    color: #318EE7;
    text-decoration: none;
    margin: 0 10px;
}

.footer-copyright {
    font-size: 12px;
    color: #318EE7;
}

.footer-image img {
    height: 120px;
    width: auto;
    margin-bottom: -5%;
    margin-left: 85%;

}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-logo,
    .footer-image {
        margin-bottom: 20px;
    }

    .footer-form {
        flex-direction: column;
        align-items: center;
    }

    .footer-form input[type="text"],
    .footer-form input[type="email"],
    .footer-form button {
        width: 100%;
        max-width: 300px;
        margin-bottom: 10px;
        background-color: #D5E2FA;
    }
}